body {
  font-family: "Avanta Garde", cursive;
  margin: 40px auto 0px;
  max-width: 800px;
}

.body-frame {
  border: 1px solid rgb(35, 29, 60);
  border-radius: 12px;
  box-shadow: 2px 1px 1px #231d3c;
}

.search-interface {
  margin: 20px 10px 10px;
}

.description-interface {
  margin: 10px 20px;
}

.city {
  font-size: 30px;
}

.source {
  font-size: 10px;
  margin: 5px 5px;
}
