body {
  font-family: "Avanta Garde", sans-serif;
  margin: 80px 40px;
  max-width: 800px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.body-frame {
  border: 1px solid rgb(35, 29, 60);
  border-radius: 12px;
  box-shadow: 2px 1px 1px #231d3c;
}

.search-interface {
  margin: 20px 10px 10px;
}

.description-interface {
  margin: 0 20px;
}

.forecast {
  text-transform: capitalize;
}

.city {
  font-size: 24px;
}

.unit {
  font-size: 10px;
  position: relative;
  top: -4px;
}

.active {
  color: black;
  cursor: default;
}

.source {
  font-size: 10px;
  margin: 5px 5px;
}

.weather-forecast-date {
  font-size: 12px;
  opacity: 0.8;
}

.weather-forecast-temp {
  font-size: 10px;
}

.weather-forecast-temp-min {
  opacity: 0.4;
}

#date {
  opacity: 0.8;
}

@media (max-width: 576px) {
  .weather-forecast-description {
    margin-top: -20px;
  }
}
